@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('PublicSans-Regular.woff') format('woff'),
  url('PublicSans-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('PublicSans-Bold.woff') format('woff'),
  url('PublicSans-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  src: url('PublicSans-Medium.woff') format('woff'),
  url('PublicSans-Medium.woff2') format('woff2');
  font-display: swap;
}