@use 'index' as i;

h2 {
  margin-bottom: i.$margin-md;
  padding: i.$padding-lg i.$padding-md;
  color: var(--primary);
  text-align: center;
}

div {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: i.$padding-xl;
    display: flex;
    border-radius: i.$border-radius-lg;
    gap: i.$margin-sm;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-tertiary);
    color: var(--text);

    fa-icon {
      font-size: i.$font-size-xl;
      color: var(--primary)
    }
  }
}