@use 'index' as i;
@import 'assets/fonts/publicsans.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: i.$font;
  background-color: var(--background);

}

button, a {
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  text-decoration: none;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}