@use 'index' as i;
@import 'assets/fonts/publicsans.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: i.$font;
  background-color: var(--background);

  &.dark-theme {
    --background: #121212;
    --background-secondary: #1E1E1E;
    --background-tertiary: #2C2C2C;
    --background-divider: #333333;
    --text: #E4E4E4;
    --header: #FFFFFF;
    --text-muted: #9CA3AF;
    --primary: #137FEC;
    --primary-background: #166ac4;
    --primary-container: #137FEC33;
    --primary-ripple: #137FEC1A;
    --background-ripple: #E4E4E40A;
    --error: #FF6F71;
    --maneuver-background: #1E1E1E;
  }
}

button, a {
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  text-decoration: none;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: inherit;
  color: inherit;
  outline: none;
}

.mat-bottom-sheet-container {
  background-color: var(--background-secondary) !important;
  color: var(--text) !important;
  border-top-left-radius: i.$border-radius-xl !important;
  border-top-right-radius: i.$border-radius-xl !important;
}