@use 'index' as i;

:host {
  padding: i.$padding-sm i.$padding-md;
  display: inline-flex;
  gap: i.$padding-xs;
  align-items: center;
  cursor: pointer;
  font-size: i.$font-size-sm;
  font-weight: 500;
  border-radius: i.$border-radius-lg;
  background-color: var(--background-secondary);
  color: var(--text);
  transition: i.transition(background-color), i.transition(color);
  box-shadow: i.$box-shadow-sm;

  &.selected {
    background-color: var(--primary-container);
    color: var(--primary);
  }
}