<h1>Nawigacja</h1>
<form>

</form>
<div class="storey-chips">
  @for (storey of storeys; track storey.value) {
    <chip [isSelected]="selectedStorey() === storey.value" matRipple matRippleColor="var(--primary-ripple)" (click)="selectedStorey.set(storey.value)" [attr.aria-label]="storey.ariaLabel">
      {{ storey.label }}
    </chip>
  }
</div>
<ko-stage [config]="mapConfig">
  <ko-layer>
    <ko-image [config]="mapImage" />
    @for (point of points(); track point.id) {
      <ko-circle [config]="{
        x : point.x_coordinate,
        y : point.y_coordinate,
        radius : 5,
        fill : 'red'
      }" (click)="selectedPoint.set(point)" (touchstart)="selectedPoint.set(point)" [tooltipMap]="tooltip" />
    }
  </ko-layer>
</ko-stage>

<tooltip #tooltip>
  @let point = selectedPoint();
  <p>Punkt o id: {{ point?.id }}</p>
</tooltip>