<h1>Nawigacja</h1>
<button class="parameters" (click)="showParameters.set(!showParameters())" matRipple [matRippleColor]="'var(--background-ripple)'">
  <fa-icon [icon]="showParameters() ? faArrowDown : faArrowUp" />
  Parametry
</button>
@if (showParameters()) {
  <form [formGroup]="navigationForm">
    <label>
      Punkt startowy
      <div [class.error]="navigationForm.get('destinationPlace')?.invalid && navigationForm.get('destinationPlace')?.touched">
        <fa-icon [icon]="faSearch" />
        <input type="text" placeholder="np. Sala 101" formControlName="startingPlace" name="startPlace" required (input)="getStartingPlaceSuggestions()" (blur)="checkIfCanNavigate()">
      </div>
    </label>
    <label>
      Punkt docelowy
      <div [class.error]="navigationForm.get('startingPlace')?.invalid && navigationForm.get('startingPlace')?.touched">
        <fa-icon [icon]="faLocationDot" />
        <input type="text" placeholder="np. Toaleta" formControlName="destinationPlace" name="endPlace" required (input)="getDestinationPlaceSuggestions()" (blur)="checkIfCanNavigate()">
      </div>
    </label>
  </form>
  <div class="storey-chips">
    @for (floor of floors; track floor.value) {
      <chip [isSelected]="selectedStorey() === floor.value" (click)="selectedStorey.set(floor.value)" [attr.aria-label]="floor.ariaLabel">
        {{ floor.label }}
      </chip>
    }
  </div>
}

<map-container [selectedFloor]="selectedStorey()" [shownParameters]="showParameters()" [points]="points()" [path]="path()" (startingPoint)="setAsStaringPlace($event)" (destinationPoint)="setAsDestinationPlace($event)" />

@let canNavigate = maneuvers() !== null && maneuvers()!.length > 0;

@if (!showParameters()) {
  <button class="start-navigation-button" (click)="startNavigation()" matRipple [matRippleColor]="'var(--primary-ripple)'" [disabled]="!canNavigate">
    Rozpocznij nawigację
    <fa-icon [icon]="faArrowRight" />
  </button>

  <button class="show-navigation-steps" [disabled]="!canNavigate" (click)="openBottomSheet()" matRipple [matRippleColor]="'var(--primary-ripple)'">
    Pokaż szczegóły trasy
    <fa-icon [icon]="faChevronUp" />
  </button>
}

@if (startingPlaceSuggestions()) {
  <div class="suggestions-backdrop starting" (click)="clearStartingPlaceSuggestions()">
    <ul>
      @for (suggestion of startingPlaceSuggestions(); track $index) {
        <li (click)="selectStartingPlaceSuggestion(suggestion)" matRipple [matRippleColor]="'var(--background-ripple)'">
          <b>@switch (suggestion.type) {
            @case ('room') {
              Sala
            }
            @case ('exit') {
              Wyjście
            }
            @case ('staircase') {
              Schody
            }
          }</b>
          <p>{{ suggestion.name }}</p>
          <i>{{ suggestion.description }}</i>
        </li>
      }
    </ul>
  </div>
}

@if (destinationPlaceSuggestions()) {
  <div class="suggestions-backdrop destination" (click)="clearDestinationPlaceSuggestions()">
    <ul>
      @for (suggestion of destinationPlaceSuggestions(); track $index) {
        <li (click)="selectDestinationPlaceSuggestion(suggestion)" matRipple [matRippleColor]="'var(--background-ripple)'">
          <b>@switch (suggestion.type) {
            @case ('room') {
              Sala
            }
            @case ('exit') {
              Wyjście
            }
            @case ('staircase') {
              Schody
            }
          }</b>
          <p>{{ suggestion.name }}</p>
          <i>{{ suggestion.description }}</i>
        </li>
      }
    </ul>
  </div>
}