@use 'index' as i;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

h1 {
  padding: i.$padding-lg 0;
  font-size: i.$font-size-lg;
  background-color: var(--background-tertiary);
  color: var(--header);
  text-align: center;
}

form {
  margin: i.$margin-sm 0;
  padding: 0 i.$padding-md;
  display: grid;
  gap: i.$padding-md;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: i.$font-size-sm;
  font-weight: 500;

  &:focus-within label {
    grid-column: 1 / -1;

    div {
      width: 100%;
    }
  }
}

.storey-chips {
  margin: i.$margin-md 0;
  padding: 0 i.$padding-sm;
  display: flex;
  gap: i.$padding-sm;
  flex-wrap: wrap;
  align-items: center;
}

.error-message {
  margin-top: i.$margin-2xs;
  font-size: i.$font-size-sm;
  color: var(--error);
}

label {
  width: 100%;
  display: flex;
  gap: i.$padding-sm;
  flex-direction: column;
  color: var(--header);

  div {
    width: auto;
    padding: i.$padding-sm i.$padding-md;
    display: flex;
    gap: i.$padding-sm;
    align-items: center;
    font-size: i.$font-size-md;
    border-radius: i.$border-radius-md;
    background-color: var(--background-tertiary);
    color: var(--text-muted);
    transition: i.transition(color), i.transition(outline), i.transition(width);

    &.error {
      outline: i.$base-border var(--error);
    }

    &:focus-within {
      color: var(--text);
      outline: i.$base-border var(--primary);
    }
  }

  input {
    width: 100%;

    &:focus {
      z-index: 20; // to be still able to type when suggestions are shown
    }
  }
}

.suggestions-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  &.starting ul {
    top: 140px;
  }

  &.destination ul {
    top: 210px;
  }

  ul {
    position: absolute;
    width: calc(100% - 40px);
    max-height: 300px;
    border-radius: i.$border-radius-md;
    list-style: none;
    background-color: var(--background);
    box-shadow: i.$box-shadow-lg;
    left: 20px;
    overflow-y: auto;
  }

  li {
    padding: i.$padding-sm i.$padding-md;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.5fr;
    align-items: center;
    cursor: pointer;
    font-size: i.$font-size-md;
    transition: i.transition(background-color);
    border-bottom: i.$base-border var(--background-divider);

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(even) {
      background-color: var(--background-tertiary);
    }

    p {
      text-align: center;
    }

    i {
      max-width: 100%;
      overflow: hidden;
      font-size: i.$font-size-sm;
      color: var(--text-muted);
      text-align: start;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: var(--background-secondary);
    }
  }
}

.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tooltip-content {
  max-width: 250px;
  padding: i.$padding-sm i.$padding-md;
  display: flex;
  gap: i.$padding-sm;
  flex-direction: column;
  font-size: i.$font-size-sm;
  border-radius: i.$border-radius-lg;
  background-color: var(--background-secondary);
  box-shadow: i.$box-shadow-lg;

  h2 {
    font-size: i.$font-size-md;
    font-weight: 500;
    color: var(--header);
  }

  p {
    color: var(--text-muted);
  }

  button {
    padding: i.$padding-xs i.$padding-sm;
    align-self: flex-start;
    font-size: i.$font-size-sm;
    font-weight: 500;
    border-radius: i.$border-radius-md;
    background-color: var(--primary-background);
    color: var(--background);
    transition: i.transition(background-color), i.transition(color);

    &:hover {
      background-color: var(--primary);
    }
  }
}

%action_button {
  flex: 1;
  margin: i.$margin-sm auto;
  padding: i.$padding-xs i.$padding-md;
  width: 60%;
  display: flex;
  gap: i.$margin-sm;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: i.$font-size-md;
  font-weight: 500;
  border-radius: i.$border-radius-lg;
}

.start-navigation-button {
  @extend %action_button;
  background-color: var(--primary);
  color: var(--background);
  transition: i.transition(background-color), i.transition(color);

  fa-icon {
    font-size: i.$font-size-lg;
    color: var(--primary-background);
  }

  &:hover {
    background-color: var(--primary-background);
    color: var(--background);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--background-secondary);
    color: var(--text-muted);
  }
}

.show-navigation-steps {
  @extend %action_button;
  background-color: var(--background-tertiary);
  color: var(--text);
  transition: i.transition(background-color), i.transition(color);

  fa-icon {
    font-size: i.$font-size-lg;
    color: var(--primary);
  }

  &:hover {
    background-color: var(--background-secondary);
    color: var(--text-muted);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--background-secondary);
    color: var(--text-muted);
  }
}