@use 'index' as i;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-height: calc(100% - 60px);
  overflow-y: hidden;
}

nav {
  display: flex;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
  border-top: i.$base-border var(--background-secondary);
  padding: i.$padding-xs i.$padding-md;
  gap: i.$padding-sm;
}

a {
  width: 100%;
  height: 100%;
  display: flex;
  gap: i.$padding-sm;
  font-weight: 500;
  align-items: center;
  flex-direction: column;
  color: var(--text-muted);

  &.active {
    color: var(--primary);
  }
}

fa-icon {
  font-size: i.$font-size-xl;
}